h1 {{name}}

//navbar(current-user='currentUser', sign-out='mainCtrl.signOut()')
//.container.main
//    div(ng-if="currentUser", ng-include="'app/components/home/dashboard.html'")
//    div(ng-if="!currentUser", ng-include="'app/components/home/signup.html'")