h1 {{name}}
.container
    .row
        .col-md-12
            .col-md-3(ng-repeat='country in countries')
                p {{country.name}}
                a(ng-click='homeCtrl.goToLeagues(country._id)')
                    img.country-image(src='{{::country.flag}}', ng-click='')