
<navbar current-user="currentUser" sign-out="mainCtrl.signOut()"></navbar>
<div class="container main">
  <h1>Edit Profile</h1>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <div class="text-center">
        <div class="form-group"><img style="height: 150px;" alt="avatar" ng-src="{{currentUser.avatar.path || 'assets/images/default_avatar.png'}}" class="avatar img-circle">
        </div>
      </div>
    </div>
    <div class="col-md-9 personal-info">
      <div role="alert" ng-show="success" class="alert alert-success col-sm-12 ng-hide">{{ success }}</div>
      <h3>Personal info</h3>
      <form role="form" class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-3 control-label">Full Name:</label>
          <div class="col-lg-8">
            <input type="text" ng-model="currentUser.fullName" placeholder="Full Name" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input type="text" ng-model="currentUser.email" placeholder="Email" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">School:</label>
          <div class="col-lg-8">
            <input type="text" ng-model="currentUser.school" placeholder="School" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">University:</label>
          <div class="col-lg-8">
            <input type="text" ng-model="currentUser.university" placeholder="University" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Course:</label>
          <div class="col-lg-8">
            <input type="text" ng-model="currentUser.course" placeholder="Course" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Area of Expertise:</label>
          <div class="col-lg-8">
            <input type="text" ng-model="currentUser.areaOfExpertise" placeholder="Area of Expertise" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Institution:</label>
          <div class="col-lg-8">
            <input type="text" ng-model="currentUser.institution" placeholder="Institution" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Employment:</label>
          <div class="col-lg-8">
            <input type="text" ng-model="currentUser.employment" placeholder="Employment" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button type="button" ng-click="profileCtrl.save()" form-button class="btn btn-primary">Save Changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>