
<div class="row signup-page-content">
  <div ng-controller="SignUpController as signUpCtrl" class="mainbox col-md-6 col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">SIGN UP</div>
      </div>
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <div ng-show="errors.length" role="alert" class="alert alert-danger ng-hide">
            <ul>
              <li ng-repeat="err in errors">{{ err.msg }}</li>
            </ul>
          </div>
          <div ng-show="success" role="alert" class="alert alert-success ng-hide">
            <div>{{ success }}</div>
          </div>
          <div class="form-group">
            <label for="fullname" class="col-md-3 control-label">Name</label>
            <div class="col-md-9">
              <input type="text" name="fullname" placeholder="Full Name" ng-model="user.fullName" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
              <input type="text" name="email" placeholder="Email Address" ng-model="user.email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-md-3 control-label">Password</label>
            <div class="col-md-9">
              <input type="password" name="password" placeholder="Password" ng-model="user.password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="col-md-3 control-label">Confirm Password</label>
            <div class="col-md-9">
              <input type="password" name="confirmPassword" placeholder="Confirm Password" ng-model="confirmPassword" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button type="button" ng-click="signUpCtrl.signUp()" class="btn btn-success">SIGN UP</button>
            </div>
          </div>
          <div class="form-group signup-social">
            <div class="col-md-6"><a type="button" href="/api/v1/auth/facebook" class="btn btn-primary">SIGN UP WITH FACEBOOK</a></div>
            <div class="col-md-6"><a type="button" href="/api/v1/auth/google" class="btn btn-danger">SIGN UP WITH GOOGLE+</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div ng-controller="SignInController as signInCtrl" class="mainbox col-md-6 col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">SIGN IN</div>
      </div>
      <div style="padding-top:40px" class="panel-body">
        <form role="form" class="form-horizontal">
          <div ng-show="errors.length" role="alert" class="alert alert-danger ng-hide">
            <ul>
              <li ng-repeat="err in errors">{{ err.msg }}</li>
            </ul>
          </div>
          <div ng-show="success" role="alert" class="alert alert-success ng-hide">
            <div>{{ success }}</div>
          </div>
          <div class="input-group input-group-margin"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" name="email" value="" placeholder="Email" ng-model="user.email" class="form-control">
          </div>
          <div class="input-group input-group-margin"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" name="passwd" placeholder="Password" ng-model="user.password" class="form-control">
          </div>
          <div class="input-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="remember" value="1" ng-model="checkedRememberMe">Remember me
              </label>
            </div>
          </div>
          <div class="input-group"><a href="">Forgot Password?</a></div>
          <div style="padding-bottom: 18px;" class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button type="button" ng-click="signInCtrl.login()" class="btn btn-success">SIGN IN</button>
            </div>
          </div>
          <div class="form-group signup-social">
            <div class="col-md-6"><a type="button" href="/api/v1/auth/facebook" class="btn btn-primary">SIGN IN WITH FACEBOOK</a></div>
            <div class="col-md-6"><a type="button" href="/api/v1/auth/google" class="btn btn-danger">SIGN IN WITH GOOGLE+</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>